* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 65px;

    background: #E7EDFF;
    overflow: hidden;
}

.chart-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 779px;
    height:461px;
    margin-bottom: 17px;
}

.chart {
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    background: #FAFCFE;
}

.chart-title {
    color: #414141;
    font-size: 2rem;
}

.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 65px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    background: #FAFCFE;
}

.temperature-input, .precipitation-input {
    position: absolute;
    opacity: 0;
}

.data-type-inputs-container {
    display: flex;
}

.temperature-label, .precipitation-label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 34px;

    color: #414141;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2;
    cursor: pointer;

    background: #EFEFFB;
}

.temperature-label {
    width: 130px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.precipitation-label {
    width: 115px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.temperature-label.checked, .precipitation-label.checked {
    color: white;
    background: #A5A5E3;
}

.period {
    display: flex;
    align-items: center;
}

.start-date, .end-date {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid #A5A5E3;

    color: #414141;
    font-size: 1.5rem;
    cursor: pointer;
}

.start-date {
    margin-right: 5px;
}

.date-option {
    font-size: 1.5rem;
}

.slider-container {
    z-index: 2;
    position: relative;
    width: 779px;

    display: flex;
    height: 70px;
}

.slider-handle, .mask, .slider-canvas, .selected-range {
    height: 70px;
}

.slider-handle {
    z-index: 1;
    position: absolute;

    width: 16px;

    background: #A5A5E3;
    touch-action: none;
}

.slider-handle.left {
    transform: translateX(-100%);
}

.slider-handle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 16px;
    border-radius: 4px;

    background: #FFFFFF;
    transform: translate(-50%, -50%);;
}

.slider-handle.right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.slider-handle.left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.selected-range {
    position: absolute;

    width: 100%;
    border: 2px solid #A5A5E3;

    touch-action: none;
}

.slider-canvas {
    width: 790px;
    height: 70px;
    border-radius: 6px;

    background: white;
}

.mask {
    position: absolute;

    width: 10px;

    background: rgba(226, 238, 249, 0.6);
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 430px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    font-size: 1.8rem;
    color: #414141;
    background: #FAFCFE;
}

.cloud {
    position: fixed;
    width: 0;

    animation: movement 5s linear infinite;
}

.cloud.bottom-left {
    top: 450px;
    left: -180px;

    width: 375px;
    height: 172px;
}

.cloud.top-left-pair-top {
    top: 80px;
    left: -160px;

    width: 370px;
    height: 150px;
}

.cloud.top-left-pair-bottom {
    top: 155px;
    left: -180px;

    width: 318px;
    height: 100px;
}

.cloud.top-center {
    top: 14px;
    left: calc(50% - 221px);

    width: 442px;
    height: 150px;
}

.cloud.top-right {
    top: 116px;
    right: 20px;

    width: 308px;
    height: 145px;
}

.cloud.bottom-right {
    top: 420px;
    right: -200px;

    width: 442px;
    height: 150px;
}

.sun {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(45%, -50%);

    height: 190px;
    width: 190px;
    border-radius: 50%;

    background: #FFEE73;
}

.sun-halo {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(45%, -50%);

    height: 320px;
    width: 320px;
    border-radius: 50%;

    background: #FFF099;
}


.first-gleaming,.second-gleaming {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(45%, -50%);

    border-radius: 50%;

    background: rgba(255, 255, 255, 0.2);
}

.first-gleaming {
    animation: growth 4s ease-in-out 2.5s infinite;
}
.second-gleaming {
    animation: growth 4s ease-in-out 3s infinite;
}


@keyframes growth {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 800px;
        height: 800px;
    }
}


@keyframes movement {
    50% {
        transform: translate(8%, 0%);
    }
}

.hidden {
    display: none;
}