.autocomplete-list {
    position: absolute;
    overflow-y: auto;
    width: 72px;
    max-height: 400px;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;

    list-style-type: none;
    background: white;
}

.autocomplete-option {
    width: 100%;

    cursor: pointer;
}

.autocomplete-option:last-child {
    border-bottom: 1px solid gray;
}

.autocomplete-option:hover {
    background: lavender;
}